.circleci/fastlane/README.md
.circleci/fastlane/report.*
.circleci/test_output/
dist
ios/SalesforceReactTests/clangReport/
node_modules/
package-lock.json
yarn.lock
Podfile.lock
sfdx/yarn.lock
yarn-error.log
ios/SalesforceReactTests/Index
ios/SalesforceReactTests/Logs
ios/SalesforceReactTests/Build
ios/SalesforceReactTests/ModuleCache.noindex
ios/SalesforceReactTests/info.plist
