executors:
  mac:
    working_directory: ~/SalesforceMobileSDK-ReactNative
    macos:
      xcode: 11.2.1
    shell: /bin/bash --login -eo pipefail
    environment:
      BASH_ENV: ~/.bashrc
      FASTLANE_SKIP_UPDATE_CHECK: "true"
      CHRUBY_VER: 2.6.5


version: 2.1
jobs:
  test-ios:
    parameters:
      device:
        type: string
        default: "iPhone 11"
      ios:
        type: string
        default: "13.2"
      nightly-test:
        type: boolean
        default: false
      env: 
        type: executor
        default: "mac"
    executor: << parameters.env >> 
    environment:
      DEVICE: << parameters.device >>
      IOS_VERSION: << parameters.ios >>
      NIGHTLY_TEST: << parameters.nightly-test >>
    steps:
      - checkout
      - run:
          name: Installing Dependencies
          command: |
            cd .circleci
            brew install gnu-sed
            gem install bundler
            bundle update 
            cd ../ios/SalesforceReactTests
            ./prepareios.js 
      - run:
          name: Creating test_credentials.json
          command: |
            cd ios/SalesforceReactTests
            node ./create_test_credentials_from_env.js
      - run:
          name: Compile
          command:  |
            chruby ${CHRUBY_VER}
            cd .circleci
            bundle exec fastlane build
      - run:
          name: Run Tests
          command:  |
            chruby ${CHRUBY_VER}
            cd .circleci
            bundle exec fastlane test
      - store_test_results:
          path: /Users/distiller/SalesforceMobileSDK-ReactNative/.circleci/test_output
      - store_artifacts:
          path: /Users/distiller/SalesforceMobileSDK-ReactNative/.circleci/test_output
          destination: Test-Results
      - store_artifacts:
          path: /Users/distiller/SalesforceMobileSDK-ReactNative/ios/SalesforceReactTests/clangReport/
          destination: Static-Analysis
      - run:
          name: Upload code coverage
          command: bash <(curl -s https://codecov.io/bash) -X gcov -X xcode

workflows:
  version: 2

  pr-run-tests:
    jobs:
      - test-ios

  # Cron are on a timezone 8 hours ahead of PST
  # Build everything at ~11:30pm Sunday/Wednesday Nights
  weekly-run-tests:
    triggers:
      - schedule:
          cron: "30 7 * * 1,4"
          filters:
            branches:
              only:
                - dev
    jobs:
      - test-ios:
          name: "ReactNative iOS 13 Nightly"
          nightly-test: true

  # Cron are on a timezone 8 hours ahead of PST
  # Build everything at ~12:00pm Sunday/Wednesday Nights
  weekly-run-tests-ios12:
    triggers:
      - schedule:
          cron: "00 8 * * 1,4"
          filters:
            branches:
              only:
                - dev

    jobs:
      - test-ios:
          name: "ReactNative iOS 12 Nightly"
          nightly-test: true
          ios: "12.2"
          device: "iPhone 8"
