<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Remove POST_NOTIFICATIONS permission from SDK debug manifest to suppress notification popup in tests -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" tools:node="remove" />

    <application android:label="@string/app_name"
        android:name="com.salesforce.androidsdk.reactnative.util.SalesforceReactTestApp"
        android:manageSpaceActivity="com.salesforce.androidsdk.ui.ManageSpaceActivity">

        <activity android:name="com.salesforce.androidsdk.reactnative.util.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
