{
  "test_client_id": "__INSERT_CLIENT_ID_HERE__",
  "test_login_domain": "https://login.salesforce.com",
  "test_redirect_uri": "testsfdc:///mobilesdk/detect/oauth/done",
  "refresh_token": "__INSERT_REFRESH_TOKEN_HERE__",
  "instance_url": "__INSERT_INSTANCE_URL_HERE__",
  "identity_url": "__INSERT_IDENTITY_URL_HERE__",
  "organization_id": "__INSERT_ORG_ID_HERE__",
  "username": "__INSERT_USERNAME_HERE__",
  "user_id": "__INSERT_USER_ID_HERE__",
  "display_name": "__INSERT_DISPLAY_NAME_HERE__",
  "photo_url": "__INSERT_PHOTO_URL_HERE__"
}
