name: Nightly Tests

on:
  schedule:
    - cron: "0 5 * * 0"  # cron is UTC, this translates to 10 PM PST Sunday.
  # This lets us trigger the workflow from a browser.
  workflow_dispatch:

jobs:
  ios-nightly:
    strategy:
      fail-fast: false
      matrix:
        ios: [^26, ^18, ^17]
        include:
          - ios: ^26
            xcode: ^26
          - ios: ^18
            xcode: ^16
          - ios: ^17
            xcode: ^16
    uses: ./.github/workflows/reusable-workflow.yaml
    with:
      ios: ${{ matrix.ios }}
      xcode: ${{ matrix.xcode }}
    secrets: inherit